NEWSAPI_KEY=your_newsapi_key_here
FLASK_SECRET_KEY=replace_with_a_secure_secret_key
APP_TIMEZONE=Asia/Kolkata
ADMIN_EMAIL=jahnavi3514@gmail.com
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=jahnavi3514@gmail.com
SMTP_PASSWORD=ojcw qkjg bhlj rlyk
SMTP_FROM_EMAIL=jahnavi3514@gmail.com
