Flask==3.1.0
gunicorn==23.0.0
joblib==1.4.2
feedparser==6.0.11
requests==2.32.3
beautifulsoup4==4.12.3
textblob==0.18.0.post0
vaderSentiment==3.3.2
pandas==2.2.3
scikit-learn==1.6.1
python-dotenv==1.0.1
spacy==3.8.4
networkx==3.4.2
matplotlib==3.10.0
